body
{
	padding: 0 7% 0 5px;
	background-color: #ffffff;
	color: #000000;
	font-family: Arial, Helvetica,  sans-serif;
}

.navbar
{
	display: none;
}

.print_logo
{
}

.full-logo {
  display: none;
}

.copyright
{
	font-size: small;
	text-align: center;
	page-break-after;
}

.print_copyright
{
	font-size: small;
	text-align: center;
}

.print_page_break
{
	page-break-after: always;
}

p.dev_warning
{
	font-size: large;
	color: red;
	font-weight: bold;
	text-align: center;
}
